{% load navigator %}
{% load url from future %}
<div class="container-fluid padded">

{% if objects_list %}  
<div class="box">
  <div class="box-content">
    <table class="table table-normal">    
      <thead>
	<tr role="row">
	  <td>{% trans "Date" %}</td>
	  <td>{% trans "Action" %}</td>
	  <td>{% trans "Editor" %}</td>
	  <td>{% trans "IP address" %}</td>
	  <td>{% trans "Modified fields" %}</td>
	</tr>
      </thead>
      <tbody>
	{% for action in objects_list %}
	<tr>
	  <td>{{ action.date_joined|date:"h.m.y H:i:s" }}</td>
	  <td>
	    <a href="{% url 'history:admin:action' action.id %}"><i class="icon-eye-open"></i> {{ action }}</a>
	  </td>
	  <td><a href="{% url 'history:admin:index' %}?profile={{ action.profile_id }}">{{ action.profile }}</a></td>
	  <td><a href="{% url 'history:admin:index' %}?ip={{ action.ip }}">{{ action.ip }}</a></td>
	  <td>
	    <ul>
	      {% for diff in action.diff_set.all %}
	      <li>
		{{ diff }}
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

</div>
